:root{
    box-sizing: border-box; 
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    width: 100%;
    background-color: #27548A;
    height: 55px;
    margin-bottom: 15px;
}

.logo{
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #EEEEEE;
}

header p{
    font-size: 30px;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #EEEEEE;
}

.container{
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    align-items: center;
}

.victory{
    font-size: 24px;
}

.victory p{
    margin: 0;
}

.gridSquare{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: solid 3px black;
}

.sq0,.sq3,.sq6{
    border-left: #EEEEEE;
}

.sq2,.sq5,.sq8{
    border-right: #EEEEEE;
}

.sq0,.sq1,.sq2{
    border-top: #EEEEEE;
}

.sq6,.sq7,.sq8{
    border-bottom: #EEEEEE;
}

.victory{
    margin-top: 15px;
    width: 600px;
    display: flex;
    justify-content: center;
}

.ticMark{
    fill:black;
}

.tacMark{
    stroke:black;
}

.ticMarkW{
    fill:#9ABF80;
}

.tacMarkW{
    stroke:#9ABF80;
}

.ticMarkL{
    fill:#D84040;
}

.tacMarkL{
    stroke:#D84040;
}